body{
    margin: 0%;
}
/* nav 
 */
 nav > ul > li{
    display: inline;
    margin-right: 15px;
 }
 nav li > a{
    text-decoration:none;
 }
h5{
    margin-left: 35px;
}
.container-repo{
         display: flex;
         margin:35px;
         /* padding: 10px; */
}
.button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange,red);
    border-radius: 15px;
    padding:5px;
    }
    .parent-div img{
    
        margin-left: 40px;
    }
    #heading{
        text-align: center;
    }
    /*
     blogs 
     */
    .blogs{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin:40px;
    }
    .p-info{
        color:burlywood;
    }
    .new-arow{
        text-decoration: none;
        color: red;
        text-align:initial;
    }
    .contain{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 70px;
        /* margin-left: 10px; */
    }
    .last-footer{
        background-color: rgb(8, 3, 32);
        text-align: center;
        padding: 50px;
        color: white;
    }
    #icon{
        justify-content: space-between;
    }
    main{
        background-color: aquamarine;
    }
    
    footer{
        text-align: center;
        background-color:rgba(139, 60, 29, 0.836);
    
    }
    h1{
        color:darkcyan
    }
    h4{
        color:darkviolet
    }
    h5{
        color:bisque
    }
    .last-sec{
        background-color: rgb(67, 87, 47);
    }


/* form  */

.head-line{
    background-color: antiquewhite;
    border: solid 2px rgb(23, 204, 17);
    padding: 40px;
}
#head-line{
    /* background-color: darkorange; */
    text-align: center;

}
form{
/* background-color: antiquewhite; */
}


label{
    display:block;
    margin-top:10px;
}

.sec-2{
    background-color: burlywood;
    border: solid green;
    padding: 40px;
}
/* table  */

table{
    border-collapse: collapse;
}
tbody > tr > td{
    border:solid 1px black;

}


